* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

body {
	background-color: gray;
	margin: 0;
	padding: 0;
}

.container {
	margin: 0 auto;
	background-color: gray;
	max-width: 100%;
	min-width: 361px;
	height: 100vh;
}

.wrap {
	max-width: 1200px;
	margin: 0 auto;
	padding-left: 15px;
	padding-right: 15px;
	background-color: transparent;
}